<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuarios</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="mt-5">Cadastro de Usuarios</h2>

            {% if message %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
            {% endif %}

            <form method="POST" action="/register" class="mt-4">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <button class="btn btn-primary" type="submit">Cadastrar Usuario</button>
            </form>

            {% if lista_usuarios %}
                <h3 class="mt-5">Usuarios Cadastrados</h3>
                <ul class="list-group mt-3">
                    {% for usuario in lista_usuarios %}
                    <li class="list-group-item">
                        {{ usuario.name}} - {{ usuario.email }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>